.contactMeH1{
    text-align: center;
    font-family: var(--primary-font);
    background-color: var(--shadow);
}

.contactMeP{
    font-family: var(--primary-font);
    text-align: center;
    font-size: large;
}

.contactMeBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contactMeBtn{
    font-family: var(--secondary-font);
    font-size: large;
    color: white;
    background-color: var(--color-accent-2);
    border-radius: .3rem;
    border-color: var(--color-accent-2);
    margin-bottom: 1.3rem;
    padding: 0 1rem 0 1rem;
}

.contactMeFieldset{
    border-color: var(--color-accent-2);
    border-radius: 1rem;
    width: fit-content;
    margin: auto;
}

.contactMeForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:fit-content;
    margin: auto;
    font-family: var(--secondary-font);
}

.contactMeFormInput{
    background-color: var(--color-background-lighter);
    color:white;
    font-family: var(--secondary-font);
    font-size: medium;
}

.contactMeFormBtn{
    background-color: var(--color-accent-2);
    border-radius: .4rem;
    border: solid;
    border-color: var(--color-accent-2);
    font-family: var(--primary-font);
    color: white;
    font-size: medium;
    margin-top: .5rem;

}

.hidden{
    display: none;
}

@media (min-width: 768px) {
    .contactMeBtn{
    font-family: var(--secondary-font);
    font-size: large;
    color: white;
    background-color: var(--color-accent-2);
    border-radius: .3rem;
    border-color: var(--color-accent-2);
    margin-bottom: 1.3rem;
    padding: 0 2rem 0 2rem;
}
    
}

@media (min-width:1024px) {
.contactMeH1{
    text-align: center;
    font-family: var(--primary-font);
    background-color: var(--shadow);
}

.contactMeP{
    font-family: var(--primary-font);
    text-align: center;
    font-size: large;
}

.contactMeBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.contactMeBtn{
    font-family: var(--secondary-font);
    font-size: large;
    color: white;
    background-color: var(--color-accent-2);
    border-radius: .3rem;
    border-color: var(--color-accent-2);
    margin-bottom: 1.3rem;
}

.contactMeFieldset{
    border-color: var(--color-accent-2);
    border-radius: 1rem;
    width: fit-content;
    margin: auto;
}

.contactMeForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:fit-content;
    margin: auto;
    font-family: var(--secondary-font);
}

.contactMeFormInput{
    background-color: var(--color-background-lighter);
    color:white;
    font-family: var(--secondary-font);
    font-size: medium;
}

.contactMeFormBtn{
    background-color: var(--color-accent-2);
    border-radius: .4rem;
    border: solid;
    border-color: var(--color-accent-2);
    font-family: var(--primary-font);
    color: white;
    font-size: medium;
    margin-top: .5rem;

}

.hidden{
    display: none;
}
    
}