.header-container{
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    margin-top: -1rem;
    padding: 0;
}

nav{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

a:hover{
    transform: translateY(-10px);
}