.header-container{
    background-color: none;

    position: fixed;
    right: 0;
    margin-top: -.9rem;
    padding: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-start;
}

.hamburger-menu{
    background-color: var(--color-primary);
    border: none;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    
}

.nav-mobile-open{
    background-color: var(--color-primary);
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
}

.nav-mobile-close{
    display: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#ipadAndUpNav{
    display: none;
}

@media (min-width: 768px) {
    .header-container{
        background-color: var(--color-primary);

        position: sticky;
        top: 0;
        padding: 0;
        margin-top: -.9rem;

        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: flex-start;
    }

    #ipadAndUpNav{
        background-color: var(--color-primary);
        font-family: var(--primary-font);
        display: flex;
        width: 100vw;
        margin: .5rem;
        flex-direction:row;
        justify-content:space-evenly;
    }

    a {
        text-decoration: none;
        color: white;
        padding: .5rem;
    }

    a:hover{
        transform: translateY(-3px);
    }

    .hamburger-menu{
        display: none;
    }

}