@font-face {
  font-family: 'Excon';
  src: url('./fonts/Excon-Variable.ttf');
  font-weight: 340;
}

@font-face {
  font-family: 'Ranade';
  src: url('./fonts/Ranade-Variable.ttf');
}
:root{/*Highest level, where global variables live*/
  --color-background: #262c40;
  --color-primary: #4E4092;

  --shadow: #171b26;
  
  --color-accent-1: #F9C80E;
  --color-accent-2: #708D81;

  --primary-font: 'Ranade';
  --secondary-font: 'Excon';
}

.app-container{
    background-color: var(--color-background);
    padding-top: 1vh;
}

body, html{
  padding: 0;
  margin: 0;
  color: white;
  overscroll-behavior: none;
  overflow-x: hidden;
  width: 100vw; /*needed for sticky header to work*/
  height: 100vh; /*needed for sticky header to work*/
}

 /* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 
