.intro-container{
    font-family:var(--secondary-font);
    padding: 3rem 2rem 1rem 2rem;
    /*top,right,bottom,left*/
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.introImgContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.introP{
    font-size: large;
    top:2rem;
    text-align: center;
}

.introSpan{
    font-weight: 600;
    font-style: italic;
    color: var(--color-accent-1);
}


@media (min-width: 768px) {
    .intro-container{
        font-family:var(--secondary-font);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 1.5rem;
        align-items: center;
        align-content: center;
        padding-top: 1rem;
        margin-bottom: .3rem;
    }

    .introImg{
        position: relative;
        left: 3vw;
        top:1vh;
    }

    .introP{
        font-size: large;
        position: relative;
        margin: 2rem;
        width: 50vw;
        height: 25vh;  
        top: 1.2rem;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .intro-container{
        font-family:var(--secondary-font);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        gap:5rem;
    }

    .introImg{
        min-height: 350px;
        top: 2.5rem;
        left: 3vw;
    }

    .introP{
        font-size: x-large;
        position: relative;
        margin: 2rem;
        width: 50vw;
        height: 27vh;  
        top: 2.1rem;
    }
}