.projectcard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:20rem;
    padding-bottom: .5rem;

    border: .3rem;
    border-style: solid;
    border-radius: 30px;
    border-color: var(--color-accent-1);

    box-shadow: 10px 10px 5px var(--shadow);
    /* bottom, right side, blur, color*/

    background-color: var(--color-background-lighter);
}

.skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: .7rem;
    width: 18rem;
    gap:.5rem;
}

.ProjectCardH2{
    font-family: var(--primary-font);
    font-size: x-large;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.ProjectCardImg{
    position: relative;
    left:0;
    top: .9rem;
    width: 18rem;
    border-radius: 25px;
}

.ProjectCardA{
    color: white;
    text-decoration: none;
}

.ProjectCardP{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .3rem;
    width: 19rem; 
    text-align: center; 
}

.ProjectCardPExtraText{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .3rem;
    width: 19rem; 
    text-align: center;
    margin-bottom: 0;
}

.extraTextHide{
    display: none;
}

.showMoreBtn{
    background-color: var(--primary-background);
    font-family: var(--secondary-font);
    color: white;
    border: none;
    font-size: medium;
    text-decoration: underline;
    text-underline-offset: 1px;
    margin-bottom: 1rem;;
}

.ProjectCardButton{
    border-radius: 9px;
    border-color: var(--color-accent-2);
    background-color: var(--color-background-lighter);
    color: white;
    font-family: var(--secondary-font);
    box-shadow: 2px 2px 1px var(--shadow);
}

@media (min-width:768px) {
.projectcard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:43vw;
    padding-bottom: .5rem;

    border: .3rem;
    border-style: solid;
    border-radius: 30px;
    border-color: var(--color-accent-1);

    box-shadow: 10px 10px 5px var(--shadow);
    /* bottom, right side, blur, color*/

    background-color: var(--color-background-lighter);
}

.skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .7rem;
    width: 40vw ;
    gap:.5rem;
}

.ProjectCardH2{
    font-family: var(--primary-font);
    font-size: x-large;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.ProjectCardImg{
    position: relative;
    left:0;
    top: 1rem;
    width: 40vw;
    border-radius: 25px;
}

.ProjectCardA{
    color: white;
    text-decoration: none;
}

.ProjectCardP{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .2rem;
    width: 40vw; 
    text-align: center; 
}
.ProjectCardPExtraText{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .2rem;
    width: 40vw; 
    text-align: center;
    margin-bottom: 0;
}

.ProjectCardButton{
    border-radius: 9px;
    border-color: var(--color-accent-2);
    background-color: var(--color-background-lighter);
    color: white;
    font-family: var(--secondary-font);
    box-shadow: 2px 2px 1px var(--shadow);
}
  
}

@media (min-width:1024px) {
.projectcard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:30vw;
    padding-bottom: .5rem;

    border: .3rem;
    border-style: solid;
    border-radius: 30px;
    border-color: var(--color-accent-1);

    box-shadow: 1em 1em .5em var(--shadow);
    /* bottom, right side, blur, color*/

    background-color: var(--color-background-lighter);
}

.skills-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .7rem;
    width: 25vw ;
    gap:.5rem;
}

.ProjectCardH2{
    font-family: var(--primary-font);
    font-size: x-large;
    position: relative;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.ProjectCardImg{
    position: relative;
    left:0;
    top: 1rem;
    width: 28vw;
    border-radius: 25px;
}

.ProjectCardA{
    color: white;
    text-decoration: none;
}

.ProjectCardP{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .2rem;
    width: 28vw; 
    text-align: center; 
}

.ProjectCardPExtraText{
    font-family: var(--secondary-font);
    position: relative;
    top:0;
    margin-top: .2rem;
    width: 28vw; 
    text-align: center; 
    margin-bottom: 0;
}

.ProjectCardButton{
    border-radius: 9px;
    border-color: var(--color-accent-2);
    background-color: var(--color-background-lighter);
    color: white;
    font-family: var(--secondary-font);
    box-shadow: 2px 2px 1px var(--shadow);
    font-size: medium;
}
  
}
