.skillsContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;

    font-family: var(--secondary-font);
}

.skillsH1{
    background-color: var(--shadow);
    font-family: var(--primary-font);
    text-align: center;
}
